@import "../../../scss/variables";

.about {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    padding: 17.6rem 28rem;

    &__text {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        align-items: center;
        font-size: 1.8rem;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.6px;
    }
}
