// Imports

@import url("https://fonts.googleapis.com/css2?family=Licorice&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// Font families
$licorice: "Licorice";
$roboto: "Roboto";

// Font weights

$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;

// Font sizes

$fs-medium: 1.8rem;
// $fs-big: 3.5rem;

// To add line-height

$lh-small: 18px;
$lh-medium: 24px;
$lh-big: 28px;
$lh-gigant: 100px;
